



/* Portfolio draft 1 */

position: relative;
width: 2000px;
height: 4400px;

background: linear-gradient(180deg, rgba(0, 89, 242, 0.9) 13.5%, rgba(0, 89, 242, 0) 42.66%, rgba(30, 133, 226, 0.249303) 59.85%, rgba(137, 249, 198, 0.9) 95.79%);


/* Rectangle 29 */

position: absolute;
width: 463px;
height: 145px;
left: 177px;
top: 965px;

background: linear-gradient(180deg, #4FFFB0 0%, rgba(75, 213, 243, 0) 100%);
border-radius: 30px;


/* Rectangle 29 */

position: absolute;
width: 368px;
height: 94px;
left: 1512px;
top: 115px;

background: linear-gradient(180deg, #16DDEA 0%, rgba(75, 213, 243, 0) 100%);
border-radius: 30px;


/* I’m Penelope Martinez. A Full-Stack Developer */

position: absolute;
left: 8.8%;
right: 42.55%;
top: 10.59%;
bottom: 69.84%;

font-family: 'Outfit';
font-style: normal;
font-weight: 700;
font-size: 100px;
line-height: 110px;
/* or 110% */

color: #000000;



/* Start a project */

position: absolute;
left: 10.65%;
right: 65.95%;
top: 23.16%;
bottom: 73.98%;

font-family: 'Outfit';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 28px;
/* or 69% */
letter-spacing: 0.1em;
text-transform: uppercase;

color: #000000;



/* Featured on */

position: absolute;
left: 9.2%;
right: 69.21%;
top: 27.91%;
bottom: 69.83%;

font-family: 'Outfit';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 28px;
/* or 55% */
letter-spacing: 0.1em;
text-transform: uppercase;

color: #000000;



/* testimonials */

position: absolute;
width: 1188px;
height: 728px;
left: 374px;
top: 2420px;



/* testimonials */

position: absolute;
left: 39.25%;
right: 40.08%;
top: 55%;
bottom: 43.12%;

font-family: 'Outfit';
font-style: normal;
font-weight: 600;
font-size: 50px;
line-height: 28px;
/* or 55% */
letter-spacing: 0.1em;
text-transform: uppercase;

color: #0F6FFF;



/* Evan White */

position: absolute;
left: 42.1%;
right: 45.35%;
top: 68.61%;
bottom: 30.72%;

font-family: 'Outfit';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 28px;
/* or 79% */
letter-spacing: 0.1em;
text-transform: uppercase;

color: #362F2F;



/* Rectangle 22 */

position: absolute;
width: 345px;
height: 335px;
left: 374px;
top: 2813px;

background: linear-gradient(180deg, #8CE6D8 0%, rgba(171, 226, 221, 0) 100%);
border-radius: 20px;


/* Rectangle 23 */

position: absolute;
width: 345px;
height: 335px;
left: 802px;
top: 2813px;

background: linear-gradient(180deg, #4088E9 0%, rgba(148, 145, 207, 0) 100%);
border-radius: 20px;


/* Rectangle 24 */

position: absolute;
width: 345px;
height: 335px;
left: 1217px;
top: 2811px;

background: linear-gradient(180deg, #433E33 0%, rgba(145, 129, 92, 0.50024) 50%, rgba(224, 197, 134, 0) 92.14%);
border-radius: 20px;


/* read what others  have to say */

position: absolute;
left: 30.25%;
right: 28.17%;
top: 56.89%;
bottom: 38.11%;

font-family: 'Outfit';
font-style: normal;
font-weight: 700;
font-size: 80px;
line-height: 100px;
/* or 125% */
text-transform: capitalize;

color: #211C1C;



/* Mask group */

position: absolute;
width: 144.15px;
height: 145px;
left: 474.19px;
top: 2723px;



/* Ellipse 2 */

position: absolute;
width: 144.15px;
height: 145px;
left: 474.19px;
top: 2723px;

background: #D9D9D9;


/* Screen Shot 2022-05-09 at 10.28 */

position: absolute;
width: 156.42px;
height: 179px;
left: 462.95px;
top: 2707px;

background: url(Screen Shot 2022-05-09 at 10.28);


/* Mask group */

position: absolute;
width: 135.98px;
height: 145px;
left: 904.61px;
top: 2723px;



/* Ellipse 3 */

position: absolute;
width: 135.98px;
height: 145px;
left: 904.61px;
top: 2723px;

background: #D9D9D9;


/* Screen Shot 2022-05-09 at 10.28 */

position: absolute;
width: 135.98px;
height: 141px;
left: 904.61px;
top: 2723px;

background: url(Screen Shot 2022-05-09 at 10.28);


/* Mask group */

position: absolute;
width: 141.09px;
height: 137px;
left: 1326.85px;
top: 2727px;



/* Ellipse 4 */

position: absolute;
width: 141.09px;
height: 137px;
left: 1326.85px;
top: 2727px;

background: #D9D9D9;


/* Screen Shot 2022-05-09 at 10.28 */

position: absolute;
width: 135.98px;
height: 134px;
left: 1328.9px;
top: 2730px;

background: url(Screen Shot 2022-05-09 at 10.28.png);


/* olivia cole */

position: absolute;
left: 20.9%;
right: 66.55%;
top: 68.7%;
bottom: 30.64%;

font-family: 'Outfit';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 28px;
/* or 79% */
letter-spacing: 0.1em;
text-transform: uppercase;

color: #312A2A;



/* Jessica Page */

position: absolute;
left: 62.6%;
right: 23.75%;
top: 68.66%;
bottom: 30.68%;

font-family: 'Outfit';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 28px;
/* or 79% */
letter-spacing: 0.1em;
text-transform: uppercase;

color: #372F2F;



/* Rectangle 25 */

position: absolute;
width: 1199px;
height: 476px;
left: 374px;
top: 3258px;

background: linear-gradient(180deg, rgba(40, 113, 240, 0.6) 0%, rgba(114, 186, 220, 0.6) 89.54%, rgba(123, 194, 218, 0.6) 100%);
border-radius: 25px;


/* Don’t be a stranger. */

position: absolute;
left: 29.25%;
right: 29.75%;
top: 74.77%;
bottom: 18.89%;

font-family: 'Outfit';
font-style: normal;
font-weight: 700;
font-size: 90px;
line-height: 100px;
/* or 111% */
text-align: center;

color: #000000;



/* Follow us on our social media platforms */

position: absolute;
width: 534px;
height: 45px;
left: 728px;
top: 3385px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 45px;
/* identical to box height, or 150% */
text-align: center;

color: #000000;



/* footer/ contacts */

position: absolute;
width: 1454px;
height: 303px;
left: 655px;
top: 3981px;



/* Home About */

position: absolute;
left: 32.75%;
right: 59.25%;
top: 90.68%;
bottom: 3.95%;

font-family: 'Outfit';
font-style: normal;
font-weight: 500;
font-size: 50px;
line-height: 50px;
/* or 100% */

color: #2D2828;



/* Email LinkedIn Instagram Twitter */

position: absolute;
left: 47.85%;
right: 35.85%;
top: 92.95%;
bottom: 2.64%;

font-family: 'Outfit';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 35px;
/* or 70% */
display: flex;
align-items: center;

color: #292020;



/* Contact */

position: absolute;
width: 300px;
height: 62px;
left: 945px;
top: 3981px;

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 50px;
line-height: 28px;
/* or 55% */
display: flex;
align-items: center;

color: #292020;



/* join the newsletter */

position: absolute;
width: 486px;
height: 96px;
left: 1437px;
top: 4016px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 59px;
text-transform: capitalize;

color: #0B0A0A;



/* Rectangle 27 */

position: absolute;
width: 524px;
height: 109px;
left: 1405px;
top: 4152px;

background: linear-gradient(180deg, rgba(106, 144, 241, 0.45) 0%, rgba(136, 184, 229, 0.250778) 44.27%, rgba(157, 197, 235, 0) 100%);
border-radius: 70px;


/* Rectangle 28 */

position: absolute;
width: 242px;
height: 109px;
left: 1694px;
top: 4152px;

background: linear-gradient(180deg, #26FFB1 0%, rgba(59, 192, 168, 0.557285) 44.27%, #7AF4BF 100%);
border-radius: 70px;


/* submit */

position: absolute;
width: 366px;
height: 27px;
left: 1743px;
top: 4189px;

font-family: 'Outfit';
font-style: normal;
font-weight: 700;
font-size: 35px;
line-height: 28px;
/* or 79% */
letter-spacing: 0.1em;
text-transform: uppercase;

color: #000000;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* EMAIL ADDRESS */

position: absolute;
width: 366px;
height: 27px;
left: 1447px;
top: 4188px;

font-family: 'Outfit';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 28px;
/* or 110% */
display: flex;
align-items: flex-end;
letter-spacing: 0.1em;
text-transform: uppercase;

color: #8B7878;

opacity: 0.8;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* Full stack development (2) 1 */

position: absolute;
width: 574px;
height: 574px;
left: 42px;
top: -18px;

background: url(Full stack development (2).png);


/* Services */

position: absolute;
width: 225px;
height: 28px;
left: 587px;
top: 148px;

font-family: 'Outfit';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 28px;
/* identical to box height, or 55% */
text-transform: uppercase;

color: #000000;



/* Portfolio */

position: absolute;
width: 278px;
height: 28px;
left: 891px;
top: 148px;

font-family: 'Outfit';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 28px;
/* identical to box height, or 55% */
text-transform: uppercase;

color: #000000;



/* BLOG */

position: absolute;
width: 135px;
height: 28px;
left: 1271px;
top: 148px;

font-family: 'Outfit';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 28px;
/* identical to box height, or 55% */
text-transform: uppercase;

color: #000000;



/* connect */

position: absolute;
width: 281px;
height: 74px;
left: 1574px;
top: 143px;

font-family: 'Outfit';
font-style: normal;
font-weight: 500;
font-size: 50px;
line-height: 28px;
/* or 55% */
text-transform: uppercase;

color: #000000;



/* selfie */

position: absolute;
width: 775px;
height: 864px;
left: 1064px;
top: 396px;



/* Ellipse 5 */

position: absolute;
width: 775px;
height: 864px;
left: 1064px;
top: 396px;

background: #D9D9D9;


/* IMG_8099 1 */

position: absolute;
width: 775px;
height: 866.31px;
left: 1064px;
top: 393.69px;

background: url(IMG_8099.png);


/* Bottom logo */

position: absolute;
width: 498px;
height: 460px;
left: 27px;
top: 3916px;

background: url(Full stack development (2).png);


/* projects */

position: absolute;
width: 1671px;
height: 738px;
left: 167px;
top: 1624px;



/* Rectangle 31 */

position: absolute;
width: 451px;
height: 486px;
left: 1387px;
top: 1815px;

background: linear-gradient(180deg, #8CE6D8 0%, rgba(151, 229, 218, 0.646323) 49.44%, rgba(162, 227, 220, 0.292098) 99.99%, rgba(171, 226, 221, 0) 100%);
border-radius: 20px;


/* Rectangle 32 */

position: absolute;
width: 489px;
height: 486px;
left: 781px;
top: 1815px;

background: linear-gradient(180deg, #8CE6D8 0%, rgba(151, 229, 218, 0.646323) 49.44%, rgba(162, 227, 220, 0.292098) 99.99%, rgba(171, 226, 221, 0) 100%);
border-radius: 20px;


/* Command-line interface, where the user is prompted to input their expenses, along with the corresponding category. The program will then store this data, calculate the total spending for each category, and display a summary report. */

position: absolute;
width: 442px;
height: 250px;
left: 812px;
top: 2012px;

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 50px;
/* or 250% */

color: #000000;



/* Rectangle 33 */

position: absolute;
width: 496px;
height: 486px;
left: 167px;
top: 1815px;

background: linear-gradient(180deg, #8CE6D8 0%, rgba(151, 229, 218, 0.646323) 49.44%, rgba(162, 227, 220, 0.292098) 99.99%, rgba(171, 226, 221, 0) 100%);
border-radius: 20px;


/* Projects */

position: absolute;
width: 586px;
height: 67px;
left: 708px;
top: 1624px;

font-family: 'Outfit';
font-style: normal;
font-weight: 700;
font-size: 128px;
line-height: 110px;
/* or 86% */
letter-spacing: 0.1em;
text-transform: capitalize;

color: #000000;



/* Full stack development (4) 1 */

position: absolute;
width: 387px;
height: 355px;
left: 214px;
top: 1742px;

background: url(Full stack development (4).png);


/* Full stack development (5) 1 */

position: absolute;
width: 381px;
height: 371px;
left: 844px;
top: 1726px;

background: url(Full stack development (5).png);


/* Full stack development (6) 1 */

position: absolute;
width: 436px;
height: 436px;
left: 1388px;
top: 1671px;

background: url(Full stack development (6).png);


/* Weather application that fetches data from a weather API and displays the current weather conditions for a specific location. This project includes HTML, CSS, and JavaScript. */

position: absolute;
width: 349px;
height: 274px;
left: 1431px;
top: 1976px;

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 50px;
/* or 250% */

color: #000000;



/* Simple Expense Tracker using python */

position: absolute;
width: 387px;
height: 266px;
left: 818px;
top: 1964px;

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 50px;
/* or 250% */

color: #000000;



/* HTML Recipe Page: A page that features your favorite recipes. Include images, ingredients, and step-by-step instructions for each recipe. */

position: absolute;
width: 406px;
height: 285px;
left: 228px;
top: 2008px;

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 50px;
/* or 250% */

color: #000000;



/* Rectangle 30 */

position: absolute;
width: 196px;
height: 64px;
left: 225px;
top: 2272px;

background: #000000;
border-radius: 25px;


/* Rectangle 34 */

position: absolute;
width: 196px;
height: 64px;
left: 814px;
top: 2281px;

background: #000000;
border-radius: 25px;


/* Rectangle 35 */

position: absolute;
width: 196px;
height: 64px;
left: 1404px;
top: 2272px;

background: #000000;
border-radius: 25px;


/* VIEW */

position: absolute;
width: 223px;
height: 61px;
left: 273px;
top: 2292px;

font-family: 'Outfit';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 28px;
/* or 92% */
letter-spacing: 0.2em;
text-transform: uppercase;

background: linear-gradient(180deg, #4FFFB0 0%, rgba(119, 255, 194, 0) 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;



/* VIEW */

position: absolute;
width: 223px;
height: 61px;
left: 862px;
top: 2301px;

font-family: 'Outfit';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 28px;
/* or 92% */
letter-spacing: 0.2em;
text-transform: uppercase;

background: linear-gradient(180deg, #4FFFB0 0%, rgba(119, 255, 194, 0) 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;



/* VIEW */

position: absolute;
width: 223px;
height: 61px;
left: 1452px;
top: 2292px;

font-family: 'Outfit';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 28px;
/* or 92% */
letter-spacing: 0.2em;
text-transform: uppercase;

background: linear-gradient(180deg, #4FFFB0 0%, rgba(119, 255, 194, 0) 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;



/* Featured on section */

position: absolute;
width: 1691px;
height: 236px;
left: 178px;
top: 1327px;



/* Rectangle 19 */

position: absolute;
width: 1691px;
height: 236px;
left: 178px;
top: 1327px;

background: linear-gradient(180deg, rgba(53, 112, 233, 0.4) 0%, rgba(26, 186, 185, 0.4) 46.35%, rgba(147, 251, 204, 0.4) 100%);
border-radius: 20px;


/* image 5 */

position: absolute;
width: 394px;
height: 54px;
left: 806px;
top: 1426px;

background: url(image);
opacity: 0.7;


/* image 6 */

position: absolute;
width: 449px;
height: 144px;
left: 232px;
top: 1376px;

background: url(image);
opacity: 0.7;


/* image 7 */

position: absolute;
width: 147px;
height: 76px;
left: 1311px;
top: 1421px;

background: url(image);
opacity: 0.8;


/* image 8 */

position: absolute;
width: 270px;
height: 62px;
left: 1540px;
top: 1422px;

background: url(image);
opacity: 0.7;


/* LOW DIV LINE 1 */

position: absolute;
width: 2000.05px;
height: 0px;
left: -0.01px;
top: 3893px;

transform: rotate(-0.41deg);


/* 5 1 */

position: absolute;
width: 386px;
height: 386px;
left: 1195px;
top: 3370px;

background: url(5.png);


/* Full stack development (7) 1 */

position: absolute;
width: 572px;
height: 533px;
left: 276px;
top: 3323px;

background: url(Full stack development (7).png);


/* 6 1 */

position: absolute;
width: 347px;
height: 359px;
left: 956px;
top: 3373px;

background: url(6.png);


/* Full stack development (8) 1 */

position: absolute;
width: 324px;
height: 324px;
left: 685px;
top: 3391px;

background: url(Full stack development (8).png);


