/* Reset default margin and padding for all elements */
body, h1, h2, h3, p, ul, li, a {
  margin: 0;
  padding: 0;
}

/* Apply a background color and some basic styles to the body */
body {
  font-family: "Outfit", Arial, sans-serif ;
  background-color: #f0f0f0;
}

/* Style the header */
h1 {
  font-size: 28px;
  padding: 20px;
  text-align: center;
  color: #0059F2;
}

/* Style the main content area */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Style the table of contents */
ul {
  list-style: none;
  margin-top: 20px;
  padding-left: 0;
}

li {
  margin-bottom: 5px;
}

/* Style the links */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Style the acknowledgments section */
h2 {
  margin-top: 30px;
}

/* Add some spacing to paragraphs */
p {
  margin-bottom: 15px;
}

/* Image styling */
.corner-image {
  position: absolute;
  top: 0;
  right: 0;
  width: 775px;
  height: 866.314px;
  flex-shrink: 0;
}

